* {
    box-sizing: border-box;
    transition: all 0.2s ease;
}
html {
    font-size: 16px;
    line-height: 1.5;
}
body {
    padding: 30px;
    width: 400px;
    height: 400px;
    background-color: darkslateblue;
    color: white;
}
.grid{
background-color: greenyellow;
width: 320px;
height: 320px;
}
   
.grid .row {
   display: flex;
   flex-direction: row;
   flex-wrap: nowrap;
    width: 320px;
    height: 100px;
    overflow: hidden;
    margin-bottom: 10px;
}
.grid .row:last-child {
    margin-bottom: 0px;

}
.grid .row .field {
    width: 100px;
    height: 100px;
   /*background-color: black;*/
    background-color: darkslateblue;

    line-height: 100px;
    text-align: center;
    font-size: 50px;
    font-weight: 900;
    color: yellow;
    margin-right: 10px;

}
.grid .row .field:last-child {
    margin-right: 0px;
}